fastapi
uvicorn
pydantic
anyio
llama-cpp-python
sentence-transformers
pypdf
python-docx
python-multipart
bleach
numpy
sqlalchemy
langchain-text-splitters
chromadb
faster-whisper
torch 
torchaudio
sentence-transformers==2.7.0
soundfile
librosa
ffmpeg-python
styletts2
gruut
einops 
einops-exts 
munch 
nltk 
langchain
langchain-community